.addNewsBody {
    padding: 20px;
}
.AddTextArea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.formBackground {
    background-color: beige;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding-bottom: 5%;
}
.normalButton {
    background-color: #fe0000;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: beige;
}