.listOfCartItems {
    padding-bottom: 20px;
    padding-left: 4%;
    padding-right: 4%;
}
.titleCart {
    color: black;
}
.deleteCartText {
    text-decoration: underline;
    margin-right: 1px;
}
.displayFinalPrice {
    color: black;
}
.cartButton {
    background-color: #fe0000;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    color: beige;
}