.viewNewsBody {
    padding: 20px;
}
.listOfNewsArticles {
    padding-bottom: 20px;
    padding-left: 4%;
    padding-right: 4%;
}
.newsButton {
    background-color: #fe0000;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
}

.titleNews {
    color: beige;
}
.filter {
    /*padding-right: 140px;*/
}