.reviewCard {
    display: flex;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
    background-color: white;
}
.reviewOuter {
    padding: 5px;
}
.reviewText {
    border: transparent;
    margin-left: 2.5%;
    margin-top: 60px;
    width: 600px;
}
.reviewUsername {
    border-style: solid;
    border-left: black;
    width: 15%;
}
.reviewDelete {
    margin-top: 57px;
    padding-right: 10px;
    padding-left: 10px;
    width: 5%;
}
.deleteButton{
    background-color: #fe0000;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: white;
}