.videogameArticleCard {
    display: flex;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
    background-color: white;
}
.videogameArticleCardContents {

}
.text {
    margin-left: 5px;
    margin-right: 5px;
}
.videogameArticleCardEncompassingContainer {
    justify-content: center;
    align-items: center;
}